name: Test workflow

on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        envs:
          - gemfile: rails7-2
            ruby: '3.2'

    runs-on: ubuntu-latest
    env:
      #BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.envs.gemfile }}
      BUNDLE_GEMFILE: ${{ github.workspace }}/rails/Gemfile
    steps:
      - uses: actions/checkout@v3
      - name: Install Rails dependencies
        run: sudo apt-get install sqlite3 libsqlite3-dev mysql-server libmysqlclient-dev postgresql postgresql-client postgresql-contrib libpq-dev redis-server memcached imagemagick ffmpeg mupdf mupdf-tools libxml2-dev libvips42 poppler-utils -y
      - name: Clone Rails repository
        run: git clone --depth 1 --branch 7-2-stable https://github.com/rails/rails.git

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.envs.ruby }}
          bundler-cache: true
          cache-version: 1
      #- run: bundle exec rake test

      - name: Require associationist
        run: |
          echo '$LOAD_PATH.unshift "#{__dir__}/../../../../lib"' >> rails/activerecord/test/cases/helper.rb
          echo "require 'associationist'" >> rails/activerecord/test/cases/helper.rb
      #- name: Bundle Rails
      #  run: cd rails && bundle
      - name: Run ActiveRecord tests
        run: cd rails/activerecord && bundle exec rake test:sqlite3_mem --trace