name: Test workflow

on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        envs:
          - gemfile: rails5-1
            ruby: '2.7'
          - gemfile: rails5-2
            ruby: '2.7'
          - gemfile: rails6-0
            ruby: '2.7'
          - gemfile: rails6-1
            ruby: '2.7'
          - gemfile: rails7-0
            ruby: '2.7'
          - gemfile: rails7-1
            ruby: '2.7'
          - gemfile: rails7-2
            ruby: '3.1'

    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.envs.gemfile }}
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.envs.ruby }}
          bundler-cache: true
      - run: bundle exec rake test

  test_with_rails:
    strategy:
      fail-fast: false
      matrix:
        envs:
          - rails_branch: 7-0-stable
            ruby: '3.0'
          - rails_branch: 7-1-stable
            ruby: '3.2'
          - rails_branch: 7-2-stable
            ruby: '3.2'

    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/rails/Gemfile
    steps:
      - uses: actions/checkout@v3
      - name: Install Rails dependencies
        run: sudo apt-get install sqlite3 libsqlite3-dev mysql-server libmysqlclient-dev postgresql postgresql-client postgresql-contrib libpq-dev redis-server memcached imagemagick ffmpeg mupdf mupdf-tools libxml2-dev libvips42 poppler-utils -y
      - name: Clone Rails repository
        run: git clone --depth 1 --branch ${{ matrix.envs.rails_branch }} https://github.com/rails/rails.git
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.envs.ruby }}
          bundler-cache: true
      - name: Require associationist
        run: |
          echo '$LOAD_PATH.unshift "#{__dir__}/../../../../lib"' >> rails/activerecord/test/cases/helper.rb
          echo "require 'associationist'" >> rails/activerecord/test/cases/helper.rb
      - name: Run ActiveRecord tests
        run: cd rails/activerecord && bundle exec rake test:sqlite3_mem